.about__content {
    flex: 1;
    margin-bottom: 1.5rem;
}

.about__links {
    text-align: right;
}

.about__email {
    margin-right: 1.25rem;
}

.contact__nav {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.contact__header {
    margin-top: 0;
}
.contact__item {
    margin-right: 0.5rem;
}
.contact__item:last-child {
    margin-right: 0rem;
}
.link--icon>* {
    vertical-align: middle;
}

.link__icon {
    height: 1.65rem;
    fill: inherit;
}

.link--primary {
    color: var(--window-text-color);
    fill: var(--window-text-color);
    transition: fill ease-in-out 100ms, color ease-in-out 100ms;
}

.link--primary:hover {
    color: var(--link-hover-color);
    fill: var(--link-hover-color);
}


.floating {
    box-shadow: 2px 2px 6px -3px rgba(0, 0, 0, .75);
}

.window {
    position: relative;
    padding: 1rem;
    border: 1px solid #333333;
    border-radius: 3px;
}
